@model DataAccessLibrary.Model.SupplierMaster

@{
    ViewData["Title"] = "SupplierCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary">
    <div class="card-body">
        <div class="col-md-12">
            <!-- Form Element sizes -->
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <h4><b><u>Add Supplier:</u></b></h4>
                </div>
            </div>
        </div>
        <div>
            <form class="needs-validation" asp-action="SupplierCreate" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="CompanyName">CompanyName</label>
                        <input asp-for="CompanyName" class="form-control" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-11">
                        <label asp-for="Address">Address</label>
                        <textarea asp-for="Address" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="state">State</label>
                        <input asp-for="state" class="form-control" />
                        <span asp-validation-for="state" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Pincode">Pincode</label>
                        <input asp-for="Pincode" class="form-control" />
                        <span asp-validation-for="Pincode" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group col-md-4">
                        <label asp-for="MobNo">Mobile No</label>
                        <input asp-for="MobNo" type="number" class="form-control" />
                        <span asp-validation-for="MobNo" class="text-danger"></span>
                    </div>
                   
                    @*<div class="form-group col-md-4">
                    <label asp-for="CreatedDate">Created Date</label>
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                    <label asp-for="CreatedBy">Created By</label>
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                    <label asp-for="ModifyDate">Modify Date</label>
                    <input asp-for="ModifyDate" class="form-control" />
                    <span asp-validation-for="ModifyDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                    <label asp-for="ModifyBy">Modify By</label>
                    <input asp-for="ModifyBy" class="form-control" />
                    <span asp-validation-for="ModifyBy" class="text-danger"></span>
                    </div>*@
                 
                </div>
                <div class="col-2">
                    <input type="submit" value="Save" class="btn btn-success float-left" style="margin-right: 10px;" />
                    <a href="\SupplierMaster\GetAllSupplier" class="btn btn-secondary float-left" style="margin-right: 10px;">Back</a>
                </div>
            </form>
        </div>
    </div>
    <!-- /.card-body -->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
