@model DataAccessLibrary.Model.ItemMaster

@{
    ViewData["Title"] = "ItemCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">

}


<form class="needs-validation" novalidate method="post">

    <section class="content">

        <div class="card card-primary">
            <div class="card-body">
                <div class="col-md-12">
                    <!-- Form Element sizes -->
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h4><b><u>Add Item:</u></b></h4>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                   
                    <div class="form-group col-md-4">
                        <label asp-for="ItemName" class="control-label"></label>
                        <input asp-for="ItemName" class="form-control" />
                        <span asp-validation-for="ItemName" class="text-danger"></span>
                    </div>
                   <div class="form-group col-md-4">
                        <label asp-for="BaseName" class="control-label"></label>
                        <input asp-for="BaseName" class="form-control" />
                        <span asp-validation-for="BaseName" class="text-danger"></span>
                    </div>
                   

                    <div class="form-group col-md-4">
                        <label asp-for="UId">Supplier</label>
                        <select asp-for="UId" asp-items="ViewBag.Unit" class="form-control custom-select js-example-basic-single" >

                            <option value="">--Select Unit--</option>
                           
                        </select>
                    </div>
               
                   
                    <div class="form-group col-md-4">
                        <label asp-for="ReOrderLevel" class="control-label"></label>
                        <input asp-for="ReOrderLevel" class="form-control" />
                        <span asp-validation-for="ReOrderLevel" class="text-danger"></span>
                    </div>

                  
                </div>
                <div class="col-2">
                    <input type="submit" value="Save" class="btn btn-success float-left" style="margin-right: 10px;" />
                    <a href="\ItemMaster\GetAllItem" class="btn btn-secondary float-left" style="margin-right: 10px;">Back</a>

                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </section>
</form>
@section scripts{
    <!-- Select2 -->
     <script src="~/plugins/select2/js/select2.full.min.js"></script>


    <script>
            $(document).ready(function () {
                $('.js-example-basic-single').select2();
            });
    </script>
    }
